{% extends 'capritools2/base.html' %}
{% load humanize %}

{% block title %}My Scans{% endblock %}

{% block content %}
<h1>My Scans</h1>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#tab_dscans" data-toggle="tab">Dscans</a></li>
  <li role="presentation"><a href="#tab_localscans" data-toggle="tab">Local Scans</a></li>
  <li role="presentation"><a href="#tab_pastes" data-toggle="tab">Pastes</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="tab_dscans">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Key</th>
          <th>System</th>
          <th>Ships</th>
          <th>Structures</th>
          <th>Added</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for scan in dscans %}
        <tr>
          <td><a href="{% url 'dscan_view' scan.key %}">{{ scan.key }}</a></td>
          <td>
            {% if scan.system %}
            <a href="{{ scan.system.dotlan_system }}">{{ scan.system.name }}</a>
            &lt;
            <a href="{{ scan.system.dotlan_constellation }}">{{ scan.system.constellation.name }}</a>
            &lt;
            <a href="{{ scan.system.dotlan_region }}">{{ scan.system.region.name }}</a>
            {% else %}
            Unknown
            {% endif %}
          </td>
          <td>{{ scan.ships|intcomma }}</td>
          <td>{{ scan.structures|intcomma }}</td>
          <td>{{ scan.added|date:"d/m/y H:i" }}</td>
          <td>
            <a href="{% url 'account_delete_dscan' scan.key %}" class="btn btn-xs btn-danger">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="tab-pane" id="tab_localscans">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Key</th>
          <th>System</th>
          <th>Characters</th>
          <th>Added</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for scan in localscans %}
        <tr>
          <td><a href="{% url 'localscan_view' scan.key %}">{{ scan.key }}</a></td>
          <td>
            {% if scan.system %}
            <a href="{{ scan.system.dotlan_system }}">{{ scan.system.name }}</a>
            &lt;
            <a href="{{ scan.system.dotlan_constellation }}">{{ scan.system.constellation.name }}</a>
            &lt;
            <a href="{{ scan.system.dotlan_region }}">{{ scan.system.region.name }}</a>
            {% else %}
            Unknown
            {% endif %}
          </td>
          <td>{{ scan.chars|intcomma }}</td>
          <td>{{ scan.added|date:"d/m/y H:i" }}</td>
          <td><a href="{% url 'account_delete_localscan' scan.key %}" class="btn btn-xs btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="tab-pane" id="tab_pastes">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Key</th>
          <th>Length</th>
          <th>Password?</th>
          <th>Expires</th>
          <th>Added</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for paste in pastes %}
        <tr>
          <td><a href="{% url 'paste_view' paste.key %}">{{ paste.key }}</a></td>
          <td>{{ paste.text|length|intcomma }}</td>
          <td>
            {% if paste.password %}
            Yes
            {% else %}
            No
            {% endif %}
          </td>
          <td>
            {% if paste.is_expired %}
            <span class="glyphicon glyphicon-remove text-danger"></span> Expired
            {% else %}
              {% if paste.expires %}
                {{ paste.expires|date:"d/m/y H:i" }}
              {% else %}
                Never
              {% endif %}
            {% endif %}
          </td>
          <td>{{ paste.added|date:"d/m/y H:i" }}</td>
          <td><a href="{% url 'account_delete_paste' paste.key %}" class="btn btn-xs btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
