{% extends 'capritools2/base.html' %}

{% block active_dscan %}active{% endblock %}

{% block content %}
<h1>Directional Scan Paste Tool</h1>

<p class="lead">
</p>

<form method="post">
  <fieldset>
    <i><legend>Paste your dscan into the box below</legend></i>
    <div class="form-group">
      <textarea id="dscan" name="dscan" class="form-control" rows="8"></textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-lg btn-primary">Submit</button>
    </div>
  </fieldset>
</form>
{% endblock %}
