{% extends 'capritools2/base.html' %}

{% load humanize %}
{% load toolextras %}

{% block title %}Fleets{% endblock %}

{% block active_fleets %}active{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    &nbsp;
    <span class="pull-right">
      <strong>Created:</strong>
      {{ fleet.added|date:"d/m/y H:i" }} EVE Time
    </span>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-body scan-list fleet-scan">
            <div class="row">
              <table class="table table-striped table-hover">
                <tr>
                  {% if fleet.fleet_command %}
                  <td class="fleet-command"><strong>Fleet ({{ fleet.members.count }}):</strong> {{ fleet.fleet_command.name }} {{ fleet.fleet_command.fleet_boss }}</td>
                  <td class="ship"><span class="{{ fleet.fleet_command.ship.group_class }}">{{ fleet.fleet_command.ship.name }}</span></td>
                  {% else %}
                  <td class="fleet-command"><Strong>Fleet ({{ fleet.members.count }}):</strong> <i>None</i></td>
                  <td class="ship"></td>
                  {% endif %}
                </tr>

                {% for wing in fleet.wings.all %}
                <tr>
                  {% if wing.wing_command %}
                  <td class="wing-command"><strong>{{ wing.name }}:</strong> {{ wing.wing_command.name }} {{ wing.wing_command.fleet_boss }}</td>
                  <td class="ship"><span class="{{ wing.wing_command.ship.group_class }}">{{ wing.wing_command.ship.name }}</span></td>
                  {% else %}
                  <td class="wing-command"><strong>{{ wing.name }} ({{ wing.members.count }}):</strong> <i>None</i></td>
                  <td class="ship"></td>
                  {% endif %}
                </tr>
                  {% for squad in wing.squads.all %}
                  <tr>
                    {% if squad.squad_command %}
                    <td class="squad-command"><strong>{{ squad.name }} ({{ squad.members.count }}):</strong> {{ squad.squad_command.name }} {{ squad.squad_command.fleet_boss }}</td>
                    <td class="ship"><span class="{{ squad.squad_command.ship.group_class }}">{{ squad.squad_command.ship.name }}</span></td>
                    {% else %}
                    <td class="squad-command"><strong>{{ squad.name }} ({{ squad.members.count }}):</strong> <i>None</i></td>
                    <td class="ship"></td>
                    {% endif %}
                  </tr>

                    {% for member in squad.squadies %}
                    <tr>
                      <td class="squad-member">{{ member.name }}</td>
                      <td class="ship"><span class="{{ member.ship.group_class }}">{{ member.ship.name }}</span></td>
                    </tr>
                    {% endfor %}
                  {% endfor %}
                {% endfor %}

              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong>Ships ({{ ship_count }})</strong>
              </div>

              <div class="panel-body scan-list">
                <div class="row">
                  <table class="table table-striped table-hover">
                    {% for ship in ships %}
                    <tr id="type-{{ ship.id }}" id="group-{{ group.id }}" onmouseover="highlightGroupOn([{{ ship.group_id }}]);" onmouseout="highlightGroupOff([{{ ship.group_id }}]);">
                      <td class="{{ ship.group_id|highlight }} col-lg-2 col-sm-2">
                        <div align="center">
                          <strong>{{ ship.ships }}</strong>
                        </div>
                      </td>

                      <td>
                        <strong>{{ ship.name }}</strong>
                      </td>

                      <td class="icon">
                        <img class= "pull-right" src="//image.eveonline.com/render/{{ ship.id }}_32.png">
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>

            {% if cap_count > 0 %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong>Capitals ({{ cap_count }})</strong>
              </div>

              <div class="panel-body scan-list">
                <div class="row">
                  <table class="table table-striped table-hover">
                    {% for group in caps %}
                    <tr id="group-{{ group.id }}" onmouseover="highlightTypeOn({{ group.item_ids }});" onmouseout="highlightTypeOff({{ group.item_ids }});">
                      <td class="{{ group.id|highlight }} col-lg-2 col-sm-2">
                        <div align="center">
                          <strong>{{ group.ships }}</strong>
                        </div>
                      </td>

                      <td>
                        <strong>{{ group.name }}</strong>
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
            {% endif %}

            <div class="panel panel-default">
              <div class="panel-heading">
                <strong>Subcaps ({{ sub_count }})</strong>
              </div>

              <div class="panel-body scan-list">
                <div class="row">
                  <table class="table table-striped table-hover">
                    {% for group in subs %}
                    <tr id="group-{{ group.id }}" onmouseover="highlightTypeOn({{ group.item_ids }});" onmouseout="highlightTypeOff({{ group.item_ids }});">
                      <td class="{{ group.id|highlight }} col-lg-2 col-sm-2">
                        <div align="center">
                          <strong>{{ group.ships }}</strong>
                        </div>
                      </td>

                      <td>
                        <strong>{{ group.name }}</strong>
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>

          </div>

          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong>Systems ({{ systems.count }})</strong>
              </div>

              <div class="panel-body scan-list">
                <div class="row">
                  <table class="table table-striped table-hover">
                    {% for system in systems %}
                    <tr>
                      <td class="icon col-lg-1">
                        <img class="logo" src="https://imageserver.eveonline.com/Type/{{ system.sun_id }}_64.png">
                      </td>

                      <td class="name">
                        <span class="name">
                          {{ system.name }} &lt; {{ system.region.name }}
                        </span>
                      </td>

                      <td>
                        <span class="badge pull-right">
                          {{ system.members }}
                        </span>
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <strong>Alliances ({{ alliances.count }})</strong>
              </div>

              <div class="panel-body scan-list">
                <div class="row">
                  <table class="table table-striped table-hover">
                    {% for alliance in alliances %}
                    <tr onmouseover="highlightOn({{ alliance.affiliations }});" onmouseout="highlightOff({{ alliance.affiliations }});">
                      <td class="icon col-lg-1">
                        <a href="{{ alliance.dotlan_link }}">
                          <img class="logo" src="https://image.eveonline.com/Alliance/{{ alliance.id }}_64.png">
                        </a>
                      </td>

                      <td class="name">
                        <span class="name">{{ alliance.name }}</span>
                      </td>

                      <td>
                        <span class="badge pull-right">
                          {{ alliance.members }}
                        </span>
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <strong>Corporations ({{ corps.count }})</strong>
              </div>

              <div class="panel-body scan-list">
                <div class="row">
                  <table class="table table-striped table-hover">
                    {% for corp in corps %}
                    <tr onmouseover="highlightOn({{ corp.affiliations }});" onmouseout="highlightOff({{ corp.affiliations }});">
                      <td class="icon col-lg-1">
                        <a href="{{ corp.dotlan_link }}">
                          <img class="logo" src="https://image.eveonline.com/Corporation/{{ corp.id }}_64.png">
                        </a>
                      </td>

                      <td>
                        <span class="name">{{ corp.name }}</span>
                      </td>

                      <td>
                        <span class="badge pull-right">
                          {{ corp.members }}
                        </span>
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
