{% extends 'capritools2/base.html' %}

{% block title %}LSCAN{% endblock %}

{% block extra_js %}
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
{% endblock %}

{% block active_localscan %}active{% endblock %}

{% block content %}
<div id="localscan">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Total Characters:
      <strong>{{ scan.characters.count }}</strong>

      <span class="pull-right">
        <strong>Created:</strong>
        {{ scan.added|date:"d/m/y H:m" }} EVE Time
      </span>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-lg-12">
          <div id="alliances" class="progress">
            {% for alliance in alliances %}
            <div class="progress-bar progress-bar-{{ alliance.style }}" style="width: {{ alliance.width }}%"
                 data-toggle="tooltip" data-placement="top" title="{{ alliance.name }} [{{ alliance.ticker }}] ({{ alliance.item_count }})">
              {{ alliance.name }} ({{ alliance.item_count }})
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="col-lg-12">
          <div id="corps" class="progress progress-striped">
            {% for corp in corps %}
            <div class="progress-bar progress-bar-{{ corp.style }}" style="width: {{ corp.width }}%"
                 data-toggle="tooltip" data-placement="top" title="{{ corp.name }} [{{ corp.ticker }}] ({{ corp.item_count }})">
              {{ corp.name }} ({{ corp.item_count }})
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Alliances ({{ alliances.count }})</strong>
            </div>

            <div class="panel-body scan-list">
              <div class="row">
                <table class="table table-striped">
                  {% for alliance in alliances %}
                  <tr>
                    <td class="icon col-lg-1">
                      <a href="{{ alliance.dotlan_link }}">
                        <img class="logo" src="https://image.eveonline.com/Alliance/{{ alliance.id }}_64.png">
                      </a>
                    </td>

                    <td>
                      <span class="name">{{ alliance.name }}</span>
                    </td>

                    <td class="ticker">
                      <span class="pull-right">[{{ alliance.ticker }}]</span>
                    </td>

                    <td>
                      <span class="badge pull-right">
                        {{ alliance.item_count }}
                      </span>
                    </td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Corporations ({{ corps.count }})</strong>
            </div>

            <div class="panel-body scan-list">
              <div class="row">
                <table class="table table-striped">
                  {% for corp in corps %}
                  <tr>
                    <td class="icon col-lg-1">
                      <a href="{{ corp.dotlan_link }}">
                        <img class="logo" src="https://image.eveonline.com/Corporation/{{ corp.id }}_64.png">
                      </a>
                    </td>

                    <td>
                      <span class="name">{{ corp.name }}</span>
                    </td>

                    <td class="ticker">
                      <span class="pull-right">[{{ corp.ticker }}]</span>
                    </td>

                    <td>
                      <span class="badge pull-right">
                        {{ corp.item_count }}
                      </span>
                    </td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
