{% extends 'capritools2/base.html' %}

{% block title %}Pastebin // {{ paste.key }}{% endblock %}

{% block active_paste %}active{% endblock %}

{% block content %}
<div align="center">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="panel panel-primary paste-password">
      <div class="panel-heading">
        Password Required
      </div>

      <div class="panel-body">
        <p>A password is required to view this pastebin.</p>

        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <input class="form-control" type="password" name="password">
            <br />
            <button class="btn btn-lg btn-primary" type="submit">Submit</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
